html, body {
	margin:0; padding:0; overflow:hidden;
}
svg {
	position:fixed; top:0; left:0; height:100%; width:100%; background-color: black;
}
.finger {
	fill: lightcyan;
	opacity: 0.3;
}
.chosen {
	fill: lawngreen;
	opacity: 0.5;
}
.haha {
	fill: salmon;
	opacity: 0.2;
}
.countdown {
	text-anchor: middle;
	fill: white;
	font-family: sans-serif;
	font-size: 40px;
}